@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, textarea, button {
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  
  display: flex;
  justify-content: start;
  
  background-color: rgb(206, 206, 206);
  color: #333;
  border-radius: 5px;
  box-shadow: -5px 5px 3px rgba(0, 0, 0, .5);
}


.btn {
  padding: 10px 20px;
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;

  background-color: #fff;
  color: #333;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}

.title {
  margin: 10px 0;
}

.para {
  margin: 10px 0;
}